.base {
  font-family: 'CoFo Sans', sans-serif;
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-black));
  background-image: url(/assets/images/background.png);
  background-repeat: repeat;
  scroll-behavior: smooth;
}

.menu-is-open {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 calc(var(--gutter));
  max-width: 1400px;
  width: 100%;
}

@media (min-width: 1000px) {
  .container {
    padding: 0 calc(var(--gutter) * 4);
  }
}

.row {
  display: flex;
  flex-direction: column;
  margin: 0 calc(var(--gutter) * -1);
}

@media (min-width: 1000px) {
  .row {
    flex-direction: row;
  }
}

.column {
  flex: 1;
  margin: 0 var(--gutter);
}

.mobile-menu-block {
  position: relative;
}

@media (min-width: 1000px) {
  .mobile-menu-block {
    display: none;
  }
}

.language-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 4px;
}


.language-icon {
  width: 20px;
  height: 20px;
}

.language-switcher {
  display: flex;
}

.language-switcher__item {
  padding: 6px 7px;
  color: rgb(var(--color-white));
  font-size: 18px;
  line-height: 1.25;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.1s ease-in-out;
}

.language-switcher__item:not(:last-child) {
  margin-right: 2px;
}

.language-switcher__item:hover {
  background-color: rgba(var(--color-white), 0.15);
}

.language-switcher__item_active {
  background-color: rgb(var(--color-green)) !important;
}

@media (min-width: 1400px) {
  .language-switcher__item {
    padding: 5px 10px;
    font-size: 24px;
  }

  .language-switcher__item:not(:last-child) {
    margin-right: 4px;
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0; 
  width: 100%;
  height: calc(100vh - 100%);
  padding: 58px var(--gutter) 0;
  background-color: rgb(var(--color-blue));
  border-top-left-radius: calc(var(--gutter) * 2);
  border-top-right-radius: calc(var(--gutter) * 2);
}

.mobile-menu_active {
  display: block;
}

.links-w-illustration {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.illustration {
  margin-top: 30px;
  margin-right: 16px;
}

.mobile-links {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}

.mobile-link {
  font-size: 27px;
  line-height: 1.25;
  margin-bottom: 4px;
  color: inherit;
  text-decoration: none;
  transition: color .1s ease-in-out;
}

.mobile-link:hover {
  color: rgb(var(--color-pink));
}

.mobile-link__icon {
  height: 18px;
  width: 22px;
  margin-left: 10px;
}

@media (min-width: 600px) {
  .mobile-link {
    font-size: 32px;
  }

  .mobile-link__icon {
    height: 22px;
    width: 28px;
  }
}

.separator {
  border: 1px solid rgba(var(--color-white), 0.1);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.intro-block {
  padding-top: 32px;
  padding-bottom: 44px;
  border-radius: calc(var(--gutter) * 2);
  background-color: rgb(var(--color-blue));

  --bubble-color: rgb(var(--color-green));
}

@media (min-width: 1000px) {
  .intro-block {
    padding-top: 56px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.logo {
  width: 158px;
  height: 34px;
  color: var(--bubble-color);
}

@media (min-width: 1000px) {
  .logo {
    width: 220px;
    height: 48px;
  }
}

@media (min-width: 1000px) {
  .menu {
    display: none;
  }
}

.menu__icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  cursor: pointer;
}

.menu__icon_close {
  display: none;
}

.menu-is-open .menu__icon_open {
  display: none;
}

.menu-is-open .menu__icon_close {
  display: block;
}

.intro-heading {
  flex: 3;
  margin-top: 28px;
}

@media (min-width: 1000px) {
  .intro-heading {
    margin-top: 0;
  }
}

.desktop-navigation {
  display: none;
}

@media (min-width: 1000px) {
  .desktop-navigation {
    display: flex;
    align-items: baseline;
  }
}

.intro-switcher {
  flex-basis: 25%;
  margin-left: calc(var(--gutter) - var(--switcher-margin));
}

.intro-links {
  flex-basis: calc(75% - var(--switcher-margin) - var(--gutter));
  display: flex;
  justify-content: space-between;
}

.intro-link {
  font-size: 20px;
  line-height: 1.25;
  margin-right: 12px;
  color: inherit;
  text-decoration: none;
  transition: color .1s ease-in-out;
}

.intro-link:hover {
  color: rgb(var(--color-pink));
}

@media (min-width: 1400px) {
  .intro-link {
    font-size: 24px;
    margin-right: 20px;
  }
}

.intro-link__icon {
  height: 16px;
  width: 20px;
  margin-left: 10px;
  color: inherit;
}

@media (min-width: 1400px) {
  .intro-link__icon {
    height: 18px;
    width: 22px;
  }
}

.welcome {
  margin: 32px 0 24px;
  height: 115px;
  background-image: url(/assets/images/welcome-mobile.svg);
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

@media (min-width: 400px) {
  .welcome {
    height: 175px;
  }
}

@media (min-width: 600px) {
  .welcome {
    height: 250px;
    background-image: url(/assets/images/welcome.svg);
  }
}

@media (min-width: 1000px) {
  .welcome {
    margin: 48px 0 40px;
    height: 320px;
  }
}

@media (max-height: 800px) and (min-width: 1000px) {
  .welcome {
    height: 300px;
  }
}

@media (max-height: 700px) and (min-width: 1000px) {
  .welcome {
    height: 250px;
  }
}


.button-link {
  padding: 16px 0;
  margin-bottom: 4px;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  color: rgb(var(--color-blue));
  background-color: rgb(var(--color-white));
  border-radius: 16px;
  text-decoration: none;
  transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

.button-link:hover {
  color: rgb(var(--color-white));
  background-color: rgba(var(--color-white), 0.2);
}

.button-link_variant {
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-green));
}

@media (min-width: 600px) {
  .button-link {
    font-size: 24px;
  }
}

.heading {
  margin-bottom: 24px;
  font-size: 27px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .heading {
    margin-bottom: 40px;
    margin-left: -3px;
    font-size: 56px;
    line-height: 1.1;
  }
}

.lead {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 1.1;
}

.lead_muted {
  color: rgb(var(--color-gray));
}

@media (min-width: 600px) {
  .lead {
    margin-bottom: 48px;
    font-size: 36px;
  }
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


@media (min-width: 1000px) {
  .section-header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1000px) {
  .section-header__text {
    max-width: 930px;
  }
}

.text {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .text {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.section-illustration {
  max-width: 100%;
  margin-bottom: 24px;
}

.section-illustration_hidden {
  display: none;
}

@media (min-width: 1000px) {
  .section-illustration {
    margin-left: 24px;
  }
  
  .section-illustration_hidden {
    display: block;
  }
}

.project-block {
  position: relative;
  padding-top: 36px;
  padding-bottom: 74px;
  background-color: rgb(var(--color-white));
  color: rgb(var(--color-black));
  border-top-left-radius: calc(var(--gutter) * 2);
  border-top-right-radius: calc(var(--gutter) * 2);
}

.project-block:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 133px);
  display: block;
  width: 266px;
  height: 46px;
  background: url(/assets/images/connector.svg);
}

@media (min-width: 600px) {
  .project-block {
    padding-top: 56px;
    padding-bottom: 90px;
  }
}

.team-block {
  padding-top: 36px;
  padding-bottom: 28px;
  background-color: rgb(var(--color-blue));
  border-bottom-left-radius: calc(var(--gutter) * 2);
  border-bottom-right-radius: calc(var(--gutter) * 2);
}

@media (min-width: 600px) {
  .team-block {
    padding-top: 56px;
    padding-bottom: 44px;
  }
}

.stat-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 32px;
}

@media (min-width: 600px) {
  .stat-block {
    margin-top: 72px;
    margin-bottom: 80px;
  }  
}

.stat {
  flex: 100%;
  text-align: center;
  margin-bottom: 24px;
}

.stat:nth-child(1) {
  color: rgb(var(--color-green));
}

.stat:nth-child(2) {
  color: rgb(var(--color-pink));
}

.stat:nth-child(3) {
  color: rgb(var(--color-orange));
}

.stat:nth-child(4) {
  color: rgb(var(--color-blue));
}

.stat__label {
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
}

.stat__value {
  font-size: 80px;
  line-height: 1;
  margin-bottom: 24px; 
}

@media (min-width: 600px) {
  .stat {
    flex: 50%;
  }

  .stat__label {
    font-size: 24px;
  }

  .stat__value {
    font-size: 108px;
    line-height: 1;
    margin-bottom: 24px; 
  }
}

@media (min-width: 1400px) {
  .stat {
    flex: 25%;
    margin-bottom: 0;
  }
}

.footer {
  margin-top: 48px;
  margin-bottom: 16px;

  --bubble-color: rgb(var(--color-blue));
}

@media (min-width: 1000px) {
  .footer {
    margin-top: 64px;
    margin-bottom: 16px;
  }
}

.footer-navigation {
  flex-wrap: wrap;
  margin-bottom: 32px;
}

@media (min-width: 1000px) {
  .footer-navigation {
    margin-bottom: 64px;
  }
}

@media (min-width: 1400px) {
  .footer-navigation {
    align-items: flex-end;
    margin-bottom: 114px;
  }
}

.footer-column {
  flex: 1;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (min-width: 1400px) {
  .footer-column {
    flex: 1;
  }
}

.footer-links {
  display: none;
  font-size: 56px;
  line-height: 1;
}

@media (min-width: 1000px) {
  .footer-links {
    display: block;
  }
}

@media (min-width: 1400px) {
  .footer-links {
    margin-top: 0;
  }
}

.footer-links-mobile {
  display: flex;
  flex-direction: column;
  font-size: 27px;
  line-height: 1.2;
}

.footer-link {
  color: inherit;
  text-decoration: none;
  transform: color .1s ease-in-out;
  margin-bottom: 4px;
}

.footer-link:nth-child(1):hover {
  color: rgb(var(--color-blue));
}

.footer-link:nth-child(2):hover {
  color: rgb(var(--color-green));
}

.footer-link:nth-child(3):hover {
  color: rgb(var(--color-pink));
}

.footer-link__icon {
  width: 22px;
  height: 18px;
  margin-left: 10px;
}

@media (min-width: 1000px) {
  .footer-link__icon {
    width: 46px;
    height: 38px;
  }
}

.footer-navigation-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

@media (min-width: 1000px) {
  .footer-navigation-mobile {
    display: none;
  }
}

.copyright {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  color: rgba(var(--color-white), 0.4); 
  font-size: 14px;
  line-height: 1.1;
}

.copyright a {
  color: rgba(var(--color-white), 0.75); 
}

.copyright a:hover {
  text-decoration: none;
}

.copyright div {
  margin-bottom: 16px;
}

@media (min-width: 1000px) {
  .copyright {
    align-items: center;
    font-size: 20px;
  }

  .copyright div {
    margin-bottom: 0;
  }
}

.clip {
  display: none;
  width: 76px;
  height: 74px;
}

@media (min-width: 1000px) {
  .clip {
    display: flex;
  }
}

.clip_mobile {
  display: flex;
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

@media (min-width: 1400px) {

}