<!DOCTYPE html>
<html
  class="base"
  lang="{{ locale }}"
>
  <head>

    {% include "partials/meta.njk" %}

  </head>
  <body class="body">
    {% include "partials/svg-sprite.njk" %}

    {% include "partials/language.njk" %}
    
    {% include "partials/intro.njk" %}

    {% include "partials/stats.njk" %}
    
    {% include "partials/project.njk" %}

    {% include "partials/team.njk" %}
  </body>
</html>