@font-face {
  font-family: 'CoFo Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/cofo-sans-regular.woff2) format('woff2'),
       url(../fonts/cofo-sans-regular.woff) format('woff');
}