@font-face {
  font-family: "CoFo Sans";
  src: url(/static/fonts/CoFo_Sans-Regular.woff2) format("woff2"),
       url(/static/fonts/CoFo_Sans-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

body {
  background: #F8F3F2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  width: 340px;
  height: 100vh;
}
.link-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.link {
  padding: 14px 0;
  margin-bottom: 4px;
  color: #F8F3F2;
  font-size: 20px;
  font-family: "CoFo Sans", sans-serif;
  text-align: center;
  background: #416FE1;
  text-decoration: none;
}
.link:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.link:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}