<div class="container">
  <div class="language-block">
    <img src="/assets/images/language.svg" class="language-icon" alt="World icon">
    <nav class="language-switcher">
      {% for lg in site.languages %}
      {% set activeClass = "language-switcher__item_active" if lg.code == locale else "" %}

      <a href="{{ lg.link }}" class="language-switcher__item {{activeClass}}">{{ lg.locale }}</a>
      {% endfor %}
    </nav>
  </div>
</div>