<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}</title>
<meta name="title" content="{{ site.title }}">
<meta name="description" content="{{ description | safe }}">
<link rel="stylesheet" href="/assets/styles/main.css">
<link rel="preload" href="/assets/fonts/cofo-sans-regular.woff2" as="font" type="font/woff2" crossorigin>

<link rel="icon" href="/assets/icons/favicon.ico">
<link rel="icon" href="/assets/icons/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
<link rel="manifest" href="/assets/icons/manifest.json">

<meta property="og:url" content="{{ site.baseUrl + page.url }}">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ description | safe }}">
<meta property="og:type" content="website">

<meta property="og:image" content="/assets/images/og.png">
<meta property="twitter:image" content="/assets/images/twitter.png">

<script defer data-domain="cmoncmon.co" src="https://plausible.io/js/plausible.js"></script>
