<section class="container project-block" id="project">
  <div class="section-header">
    <div class="section-header__text">
      <h3 class="heading">{{ project_block.heading }}</h3>
      <p class="lead lead_muted">{{ project_block.lead }}</p>
    </div>
    <img src="/assets/images/project.svg" alt="Illustration about project" class="section-illustration"/>
  </div>
  <div class="row">
    <div class="column">
      <p class="text">{{ project_block.text[0] }}</p>
      <p class="text">{{ project_block.text[1] }}</p>
    </div>
    <div class="column">
      <p class="text">{{ project_block.text[2] }}</p>
      <p class="text">{{ project_block.text[3] }}</p>
    </div>
  </div>
</section>