<div class="container stat-block">
  <dl class="stat">
    <dd class="stat__value">{{ site.stats[0]}}</dd>
    <dt class="stat__label">{{ stat_block[0] }}</dt>
  </dl>
  <dl class="stat">
    <dd class="stat__value">{{ site.stats[1]}}</dd>
    <dt class="stat__label">{{ stat_block[1] }}</dt>
  </dl>
  <dl class="stat">
    <dd class="stat__value">{{ site.stats[2]}}</dd>
    <dt class="stat__label">{{ stat_block[2] }}</dt>
  </dl>
  <dl class="stat">
    <dd class="stat__value">{{ site.stats[3]}}</dd>
    <dt class="stat__label">{{ stat_block[3] }}</dt>
  </dl>
</div>