<svg style="display: none" version="2.0">
  <defs>
    <symbol id="mail" viewbox="0 0 22 18">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h22v18H0V0Zm3.606 2L11 8.655 18.394 2H3.606ZM20 3.245l-9 8.1-9-8.1V16h18V3.245Z" fill="currentColor"/>
    </symbol>
  </defs>
  <!-- to make the circle-arrow-left.svg file
       also usable as image: -->
  <use href="#mail"/>
</svg>